<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    
    <main class="main-content" role="main">
        <%- body %>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>